In [1]:
from mylab.ana.miniscope.context_exposure.Cminiana import MiniAna as MA
from mylab.ana.miniscope.context_exposure.Cminiana import Cellid 
from mylab.ana.miniscope.context_exposure.ana_funtions import *
import numpy as np
import pandas as pd
import cv2
import matplotlib.pyplot as plt
import seaborn as sns

import glob,sys,os,re

# for part1
we could analysis **context cell**,**running direction cell** and **place cell**:
the change of the proportion along sessions.

## load data

In [2]:
file_path = r"\\10.10.46.135\Lab_Members\_Lab Data Analysis\02_Linear_Track\Miniscope_Linear_Track\batch3\Results_201033-finish\part1"
sessions = glob.glob(os.path.join(file_path,"session*.pkl"))
sessions
`
s = MA(sessions[8])

FUN:: _load_session
loading \\10.10.46.135\Lab_Members\_Lab Data Analysis\02_Linear_Track\Miniscope_Linear_Track\batch3\Results_201033-finish\part1\session9.pkl
loaded
dict_keys(['ms_ts', 'S_dff', 'sigraw', 'idx_accepted', 'corrected_ms_ts', 'behavevideo', 'behavelog_time', 'behavelog_info', 'behave_track', 'in_context_mask', 'in_context_coords', 'in_lineartrack_mask', 'in_lineartrack_coords', 'Trial_Num', 'process', 'behavevideoframe', 'all_track_points', 'aligned_behave2ms'])
'sigraw' is taken as original self.df

## Cellids of context, running direction and place cells

In [ ]:
c = Cellid(sessions[8])

meanfr,a,b,c = c.plot_in_context_placefield(context_map=["B","A","C","N"])

contextcells,rdcells,pccells = cellids(sessions[8],scale=0.33,placebin_number=40,shuffle_times=1000)

meanfr,a,b,c = c.plot_in_context_placefield(context_map=["B","A","C","N"])

## generate funtions for plot single cell

In [ ]:
Context_Matrix_info = SingleCell_MeanFr_in_SingleTrial_along_Placebin(
    s
    ,df=None
    ,contexts=None
    ,place_bins=list(np.arange(8,50)) # placebins only in context
    ,idxes = None
    ,trials=None)
print(Context_Matrix_info.keys())
plot,plot2 = plot_MeanFr_along_Placebin(Context_Matrix_info)

In [13]:
s.result.keys()

dict_keys(['ms_ts', 'S_dff', 'sigraw', 'idx_accepted', 'corrected_ms_ts', 'behavevideo', 'behavelog_time', 'behavelog_info', 'behave_track', 'in_context_mask', 'in_context_coords', 'in_lineartrack_mask', 'in_lineartrack_coords', 'Trial_Num', 'process', 'behavevideoframe', 'all_track_points', 'aligned_behave2ms', 'place_bin_No', 'Context'])

In [35]:
s.df[[1,4,5,17]]

             1         4          5         17
0     -7.023383 -3.128953   4.909084 -3.993162
1     -7.025239 -3.197479   8.647775  0.998790
2     -7.027017 -1.206891  10.101375  3.210391
3     -7.028720 -1.358026  12.003600  2.720065
4     -7.030352 -1.502665  12.664648  6.788556
...         ...       ...        ...       ...
33514  0.869207  0.322564  -0.998436 -4.055273
33515  0.536028  0.105695  -1.045052 -4.235377
33516  0.216836 -0.101854  -1.089643 -4.407792
33517 -0.088956 -0.300482  -1.132296 -4.572845
33518 -0.381912 -0.490574  -1.173095 -4.730850

[33519 rows x 4 columns]

In [33]:
temp[4].isin([0.3,0.4])

0        False
1        False
2        False
3        False
4        False
         ...
33514    False
33515    False
33516    False
33517    False
33518    False
Name: 4, Length: 33519, dtype: bool

### looking through each cell idx by inputing different cellid

In [3]:
idx=5
context=0
plot(idx,context);plot2(idx)

'place_bin_No' has been added
'Contex' came frome 'Enter_ctx'
'Context' has been added
'Context' was represented as 0,1,2 or -1

dict_keys(['cellids', 'place_bins', 'trials', 'Context_Matrix_cellids_placebins_trials'])

## Context cell